# Setup prefix
unbind C-b
set -g prefix C-a
bind-key C-a send-prefix

# Pane Split
bind h split-window -h
bind v split-window -v

# Pane Navigation
bind -n M-Up select-pane -U
bind -n M-Down select-pane -D
bind -n M-Left select-pane -L
bind -n M-Right select-pane -R

# Fast window toggle
bind ^a last-window

# Source reload
bind r source-file ~/dotfiles/tmux/.tmux.config

